nav{
    color:white;
    padding:10px;
    text-align:right;
}
nav ul{
    list-style-type:none;
    margin:0;
    padding-right:0;
}
   nav ul li {
    display:inline;
    margin-right:20px;
}
nav ul li a{
    color:white;
    text-decoration:none;
}
nav ul li a:hover{
    text-decoration:underline;
}
footer{
    background-color:white;
    color:black;
    text-align:center;
    padding:0px
}
@media screen and (min-width:550px){
    body{
        background-color:rgb(161, 61, 27);
    }
}
/*Tablet,ipad*/
@media screen and (min-width:550px) and(max-width:1024px{
    body{
        background-color:rgb(15,9,181);
    }
}
/*Desktops and laptops*/
@media screen and (min-width:550px){
    body{
        background-color:rgb(115,50,18);
    }
